a-scene
  a-assets
    img#brick(src="../assets/images/brick.jpg")
    img#white_brick(src="../assets/images/white_brick.jpg")
  a-box(src="#brick" position="1 2 -3" scale="-1 1 1" width=2 height=2 depth=2 normal-map="#brick" normal-scale="1 -1")
  a-box(src="#white_brick" position="-1 2 -3")